/*********************
COLORS
*********************/

$blue:         #02349A;
$green:        #009933;
$green-hover:  #E11E28;
$lgreen:       rgba(#009933,0.8);
$white:        #fff;
$black:        #000;
$gray:         #ECECEC;
$dgray:        #333333;
$lgray:        #EAEAEA;